html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: rgb(1, 4, 10);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

audio {
  width: 90%;
  height: 12%;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  margin-bottom: 1em;
}

.annotation {
  color:aliceblue;
    width: 30vh;
    height: 100%;
    position: absolute;
    transform: translate3d(0%, 0%, 0px) scale(1) !important;
    transform-origin: 0px 0px;
    z-index: 16639014;
    padding:1em;
    border-radius: 5%;
    background-color: rgba(28, 28, 28, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.extraInfo {
  position: absolute;
  z-index: 16639014;
  top: 70%;
  left: 410% !important;
  width: 30vh;
  height: 25vh;
  padding:1em;
  border-radius: 5%;
  background-color: rgba(28, 28, 28, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audioSection {
  position: absolute;
  z-index: 16639014;
  top: 1%;
  left: 410% !important;
  width: 30vh;
  height: 25vh;
  padding:1em;
  border-radius: 5%;
  background-color: rgba(214, 11, 11, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audioSection p {
  text-align: center;
  font-size: 70%;
}

.audioSection p a {
  cursor: pointer;
  color: greenyellow;
}

.disabledSpan {
  display: none;
}

.enabledSpan {
  font-size: 50%;
  opacity: .7;
}

.extraWeird {
  left: 487% !important;
}

.extraInfo p {
  font-size: 80%;
  text-align: center;
}

.extraInfo p:last-child {
  margin-bottom: 2em;
}

.extraInfo a {
  text-decoration: none;
}

.extraInfo .credits {
  font-size: 50%;
}

.infoBorders {
  padding: .5em;
}
.infoBorders h5 {
  margin-bottom: 2em;
}

.infoBorders p, .populationInfo p {
  font-size: 70%;
}

.infoBox {
  display: flex;
  flex-direction: column;
  height: 95vh;
  text-align: center;
  justify-content: space-between;
  overflow: scroll;
}

.addInfo {
  display: flex;
  flex-direction: column;
}

.infoBox p {
  margin-bottom: 2em;
}

.home-btn {
  cursor: pointer;
  border: 1px solid whitesmoke;
  padding: .5em;
  border-radius: 10px;
  margin-top: 1.5em;
  margin-right: .5em;
}

.home-btn:hover {
  background-color: aliceblue;
  color: black;
}

.btn-selected {
  color: black;
  background-color: aliceblue;
}

.hidden-btn {
  display: none;
}

.inActive {
  pointer-events: none;
  cursor: default;
  /* opacity: .5; */
}

.credits {
  font-size: 70%;
}

.viewDiv {
  display: flex;
  flex-direction: column;
}

.populationInfo li{
  list-style-type: none;
  margin: 1.5em 0;
}

.infoPic {
  background-size: cover;
  width: 80%;
  align-self: center;
  border-radius: 5px;
}

.Patreon {
  color: aliceblue;
}

.iconSection p {
  font-size: 50%;
  margin-bottom: 0;
  margin-right: 1em;
}
.iconSection a {
  margin-right: 1em;
}

.earthBtn:hover {
  color: rgb(45, 87, 226);
}

.moonBtn:hover {
  color: orange;
}

.marsBtn:hover {
  color: #9C2E35;
}

.patreonBtn, .twBtn, .youtubeBtn {
  color: aliceblue;
}

.patreonBtn:hover {
  color: #f96854;
  scale: 1.5;
}

.twBtn:hover {
  color: #1DA1F2;
}

.youtubeBtn:hover {
  color: #FF0000;
}

.twBtn {
  cursor: pointer;
}

.homeBtn:hover {
  color: rgb(40, 150, 46);
}

.audioBtn {
  cursor: pointer;
  font-size: 150%;
  color: green;
}

.audioSection .credits {
  font-size: 40%;
}

.lightBtn:hover {
  color: yellow;
}

.launchpad {
  color: black;
  background-color: aliceblue;
  cursor: default;
}