.noMap {
    display: none !important;
}

.launchpadPopName {
    color: rgb(90, 86, 86);
    font-size: 120%;
}

.popFlag {
    border: 1px solid rgba(128, 128, 128, 0.192);
}

.mapGround {
    border: 1px solid blue !important;
}

.mapGround:hover {
    background-color: rgba(0, 0, 255, 0.411) !important;
}

.leaflet-container {
    position: sticky !important;
}
.mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.pMapp {
  background-color: transparent;
  margin: 1em 0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mapBtn {
    cursor: pointer;
    border: 1px solid whitesmoke;
    padding: .5em;
    border-radius: 10px;
    margin-top: 1.5em;
    margin-right: .5em;
    white-space: nowrap;
}

.mapBtn:first-child {
    margin-left: 1em;
}

.mapBtn:hover {
    background-color: rgb(245, 229, 9);
    border: 0;
}

.back {
    background-color: rgb(167, 68, 68);
    color: rgb(240, 232, 232);
    border: 0;
    margin-left: 2em;
}

.back:hover {
    background-color: rgb(223, 16, 16);
    color: aliceblue;
}

.mapboxgl-ctrl-attrib-button, .mapbox-improve-map, .noMap {
    display: none;
}

.mapboxgl-ctrl-attrib-inner {
    display: none;
}